<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Add Cookie</h2>
    <form method="POST" action="/postcookie">
        <input type="text" placeholder="key" name="key"/>
        <input type="text" placeholder="Value" name="value"/>
        <input type="submit"/>
    </form>

    <h3>Table</h3>

    <table>
        <thead>
            <th>Key</th>
            <th>Value</th>
        </thead>
        <tbody>
            <% for(let cookie in data) { %>
            <tr>
                <td><%= cookie %></td>
                <td><%= data[cookie] %></td>
                
            </tr>

            <%}%>
        </tbody>
    </table>
</body>
</html>